# Directories #
################################################################################
.Xil
cfg/*
log/*
ip/*

# Files #
################################################################################
#p02-adder/prj/src/rtl/adder_top.sv
#p02-adder/prj/src/sim/adder_tb.sv
/**/*.tmp
*.jou
*.log
*.hex
*.csv
*.mem
*.lst

################################################################################
!cfg/*.wcfg

